{% extends "layout.html" %}

{% block content %}
    <div class="mainbody">
        <br>
        <h1 style="font-size: 27px;">About Page</h1>
        <hr style="width: 550px;">
        <p>This is VERSION 1.1 (October 2020) of a Sanskrit to English Translator for Spoken Sanskrit. 
This is an academic project based out of Samskrita Bharati USA. This project was founded by three Samskrita Bharati USA students and a Software Engineer at Google. This initiative is not currently supported by Samskrita Bharati, and is not a registered nonprofit enterprise as of October 2020. 
        </p>
        <br>
        <table>
            <tr>
                <td style="font-weight:bold;padding:5px;">Responsible: </td>
                <td style="padding:5px;>Ved Sriraman, Ashwindev Pazhetam (New Jersey, USA) & Vijayeendra Nadgauda, Chandrakumari Suvarna (California, USA)</td>
            </tr>
            <tr>
                <td style="font-weight:bold;padding:5px;">Contact: </td>
                <td style="padding:5px;">info@spokensanskrit.org </td>
            </tr>
        </table>
    </div>
{% endblock %}
