{% extends "layout.html" %}

{% block content %}
    <div class="mainbody">
        <br>
        <h1 style="font-size: 27px;">Welcome to the Sanskrit-English Translator!</h1>
        <hr style="width: 550px;">
        <p>
            Type your Sanskrit sentence in the Harvard-Kyoto transliterator <br>
            to receive the English translation.
        </p>

        <p>
            You can use 
            <a href="https://www.ashtangayoga.info/philosophy/sanskrit-and-devanagari/transliteration-tool/#devanagari/hk/xn--%0A-" target="_blank">this website</a> 
            to transliterate your sentence. <br>
            On the website, you can type Devanagari script in the left text box <br> to receive the Harvard-Kyoto transliteration.   
        </p>
    </div>

    <form method="POST">
        <div style="text-align:center;">
            {{ form.hidden_tag() }}
            <div>
                <p>{{ form.pagedown.label }}</p>
                {{ form.pagedown(only_input=True, rows=10, class="textarea", style='width:500px; font-size: 15px; font-family: Roboto') }}
            </div>
            <br>

            <div>{{ form.submit(class="button", style="font-family: Roboto;") }}</div>
        </div>
    </form>

    <div class="content", style="text-align: center;">
        {% if text %}
            <br>
            <hr style="width: 500px;">
            <div>
                <p> <strong> Translation </strong> </p>
                <div style='width:500px; font-size: 15px; font-family: Roboto', class="textarea">{{ text }}</div>
            </div>
        {% endif %}
    </div>
{% endblock %}
